/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
/*----------------------------------------------
	Footer Menu
---------------------------------------------*/
.p_footer {
  padding: 70px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.p_footer li {
  font-weight: 600;
}
.p_footer li a {
  color: #251E1C;
  padding: 0 20px;
  display: block;
}

@media screen and (max-width: 767px) {
  .p_footer {
    padding: 40px 20px;
  }
  .p_footer li a {
    padding: 0 10px;
  }
}