/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
.p_header {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .p_header {
    margin: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
/*----------------------------------------------
	Header Logo
---------------------------------------------*/
.p_header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 20px;
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p_header__logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.p_header__logo img.is_active {
  display: none;
  margin: 0 7%;
  max-width: calc(100% - 14%);
}
.p_header__logo img.is_active.show {
  display: block;
}
.p_header__logo img.is_inactive.hide {
  display: none;
}
.p_header__logo a {
  display: block;
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/
.p_header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.p_header__nav .is_navflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p_header__nav ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p_header__nav ul li {
  padding: 10px 0;
}
.p_header__nav ul li a {
  font-size: 28px;
  font-weight: 600;
  color: #251E1C;
  line-height: 1.5;
  display: block;
}
.p_header__nav ul li a:hover,
.p_header__nav ul li a.current {
  opacity: 0.6;
}
.p_header__nav ul li.current-menu-item {
  display: none;
}
.p_header__nav ul.is_active li {
  font-size: 28px;
  font-weight: 600;
  color: #251E1C;
  line-height: 1.5;
  display: block;
  border: 2px solid #251E1C;
  width: 350px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p_header__nav ul.p_header__nav-icons {
  display: none;
}
.p_header__nav-list {
  padding: 0 60px;
}
.p_header__nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p_header__nav.is_scroll {
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  /* 575px */
  .p_header__nav .is_navflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p_header__nav ul {
    width: auto;
    max-width: 100%;
  }
  .p_header__nav ul li a {
    font-size: 18px;
  }
  .p_header__nav ul.is_active li {
    width: 280px;
    margin: 0 auto;
    height: 100px;
  }
  .p_header__nav ul.p_header__nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p_header__nav ul.p_header__nav-icons li {
    margin: 20px 0 20px 8px;
  }
  .p_header__nav-list {
    padding: 20px;
    text-align: center;
  }
  .p_header__nav-list li {
    padding: 10px 0;
  }
  .p_header__nav.is_scroll {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
/*----------------------------------------------
	HAMBURGER
---------------------------------------------*/
.p_header__ham {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}
.p_header__ham .is_calendar img {
  display: block;
  margin: 0 auto;
}
.p_header__ham .is_toggle {
  cursor: pointer;
  color: #FFFFFF;
}
.p_header__ham .is_toggle > div {
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p_header__ham .is_toggle span {
  width: 30px;
  height: 4px;
  background: #FFFFFF;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.p_header__ham .is_toggle.active {
  position: relative;
}
.p_header__ham .is_toggle.active span {
  background: #251E1C;
  position: absolute;
  top: 10px;
  left: 0px;
}
.p_header__ham .is_toggle.active span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.p_header__ham .is_toggle.active span:nth-child(2) {
  opacity: 0;
  display: none;
}
.p_header__ham .is_toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
  .p_header__ham {
    width: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}
/*----------------------------------------------
	SP Header Social
---------------------------------------------*/
.p_header__icons {
  width: 240px;
}
.p_header__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
}
.p_header__icons ul li {
  margin: 0 7px;
}
.p_header__icons ul li a {
  display: block;
}
.p_header__icons ul li a img {
  display: block;
}

@media screen and (max-width: 767px) {
  .p_header__icons {
    display: none;
  }
}
/*----------------------------------------------
	Header Inner
---------------------------------------------*/
.p_header-inner .p_header__ham {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: 180px;
}
.p_header-inner .p_header__ham .is_toggle span {
  background: #251E1C;
}
.p_header-inner .p_header__logo {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}
.p_header-inner .p_header__logo img {
  margin: 0 7%;
  max-width: calc(100% - 14%);
}

@media screen and (max-width: 767px) {
  .p_header-inner .p_header__ham {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
  .p_header-inner .p_header__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}