/*----------------------------------------------
	Comment out sample (Large Title)
---------------------------------------------*/
/* Comment out sample (Middle Title)
------------------------------------- */
/* Comment out sample (Small Title) */
/*----------------------------------------------
	Foundation
---------------------------------------------*/
/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  height: 100%;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  margin: 0;
}

*:focus {
  outline: none;
}

/*----------------------------------------------
	html
---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

/*----------------------------------------------
	body
---------------------------------------------*/
body {
  font-family: "Noto Serif JP", serif;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

/*----------------------------------------------
	a
---------------------------------------------*/
a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/*----------------------------------------------
	table
---------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------
	section
---------------------------------------------*/
section {
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  section {
    padding: 50px 20px;
  }
}
/*----------------------------------------------
	Frame
---------------------------------------------*/
/*----------------------------------------------
	Frame Header
---------------------------------------------*/
.f_site__header {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
}
.f_site__header.open {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/
.f_site__main {
  padding-top: 180px;
}

@media screen and (max-width: 767px) {
  .f_site__main {
    padding-top: 200px;
  }
}
@media screen and (max-width: 767px) {
  .f_sec01 {
    padding: 0 20px 50px;
  }

  .f_sec02 {
    padding: 50px 0;
  }
}
/*----------------------------------------------
	Frame Footer
---------------------------------------------*/
/*----------------------------------------------
	Layout
---------------------------------------------*/
/*----------------------------------------------
	.l_wrapper
---------------------------------------------*/
.l_wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

/*----------------------------------------------
	.l_column
---------------------------------------------*/
.l_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 30px;
  padding: 0 60px;
}

.l_column {
  width: calc((100% / 3) - 33px);
  margin: 30px 0;
}

.l_column {
  text-align: center;
  position: relative;
}
.l_column:after {
  border: solid #E5E5E5;
  border-width: 0 4px 4px 0;
  content: "";
  margin-top: -10px;
  padding: 8px;
  position: absolute;
  right: -13%;
  top: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.l_column:last-child:after {
  display: none;
}

.l_column__steps {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100%;
  min-height: 353px;
}

@media screen and (max-width: 991px) {
  .l_columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0;
  }

  .l_column {
    width: 100%;
  }
  .l_column:after {
    right: -10%;
  }
}
@media screen and (max-width: 575px) {
  .l_column:after {
    right: 30px;
  }
}
/*----------------------------------------------
	.l_col-boxes
---------------------------------------------*/
.l_col-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 32px;
}

.l_col-box {
  width: calc((100% / 3) - 17px);
}

@media screen and (max-width: 991px) {
  .l_col-boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0;
  }

  .l_col-box {
    width: 100%;
  }
}
/*----------------------------------------------
	.l_left-right
---------------------------------------------*/
.l_left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l_left {
  width: 632px;
  display: inline-block;
  vertical-align: top;
}

.l_right {
  width: 304px;
}

@media screen and (max-width: 991px) {
  .l_left-right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .l_left {
    width: 100%;
  }

  .l_right {
    width: 100%;
  }
}
/*----------------------------------------------
	Component
---------------------------------------------*/
/*----------------------------------------------
	.c_banner
---------------------------------------------*/
.c_banner {
  width: 100%;
  height: 100%;
}

/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/
.c_breadcrumb {
  padding: 0 40px 50px;
}
.c_breadcrumb__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.c_breadcrumb__li li {
  position: relative;
  padding-right: 12px;
  margin-right: 10px;
}
.c_breadcrumb__li li::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  border-top: 1px solid #251E1C;
  border-right: 1px solid #251E1C;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  right: 0;
  margin-top: -2px;
}
.c_breadcrumb__li li:last-child::after {
  display: none;
}

@media screen and (max-width: 767px) {
  .c_breadcrumb {
    padding: 0 20px 40px;
  }
}
/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn {
  min-width: 290px;
  display: inline-block;
  background-color: none;
  color: #000000;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  border: 1px solid #251E1C;
  padding: 5px;
}

/*----------------------------------------------
	.c_banner
---------------------------------------------*/
.c_content {
  padding: 0 40px 50px;
}
.c_content__img {
  display: block;
}
.c_content__img.is_center {
  margin: 20px auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .c_content {
    padding: 0 20px 40px;
  }
}
/*----------------------------------------------
	.c_ttl
---------------------------------------------*/
.c_ttl {
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  line-height: 1.5;
  color: #251E1C;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.c_ttl.is_large {
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.375em;
}

.c_ttl.is_secondary {
  font-size: 24px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .c_ttl.is_large {
    font-size: 24px;
  }

  .c_ttl.is_secondary {
    font-size: 18px;
  }
}
/*----------------------------------------------
	.c_ttl-b
---------------------------------------------*/
.c_ttl-b {
  font-size: 18px;
  color: #FFFFFF;
  background: #707070;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  padding: 7px 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .c_ttl-b {
    margin-bottom: 15px;
  }
}
.c_container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

p {
  margin-bottom: 20px;
}

small {
  font-size: 90%;
}

a {
  color: #251E1C;
}
a:hover {
  text-decoration: none;
  opacity: 0.8;
}

strong {
  font-weight: 600;
}

.img_r {
  display: block;
  float: right;
  margin: 0 0 20px 20px;
}

.is_txtc {
  text-align: center;
}

/*----------------------------------------------
	Project
---------------------------------------------*/
/*----------------------------------------------
	.p_work
---------------------------------------------*/
.p_work {
  padding: 0 40px;
}
.p_work__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 90px;
}
.p_work__menu li {
  font-weight: 600;
}
.p_work__menu li a {
  color: #251E1C;
  padding: 0 20px;
  display: block;
}
.p_work__menu li a img {
  display: block;
}
.p_work__menu li a:hover {
  opacity: 0.8;
}
.p_work__thumb {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}
.p_work__thumb ul {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 2%;
  -moz-column-count: 3;
  -moz-column-gap: 2%;
  column-count: 3;
  column-gap: 2%;
  margin-bottom: 50px;
}
.p_work__thumb ul li {
  width: 100% !important;
  height: auto !important;
  padding: 0 0 6%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.p_work__thumb ul li a {
  display: block;
}
.p_work__thumb ul li a:hover {
  opacity: 0.8;
}
.p_work__thumb ul li img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p_work {
    padding: 0 20px;
  }
  .p_work__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 0;
  }
  .p_work__menu li a {
    padding: 5px 15px;
  }
  .p_work__menu li:last-child {
    width: 100%;
  }
  .p_work__menu li:last-child img {
    margin: 20px auto 0;
    width: 23px;
  }
  .p_work__thumb ul {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 45%;
    -moz-column-count: 2;
    -moz-column-gap: 4%;
    column-count: 2;
    -webkit-column-gap: 4%;
            column-gap: 4%;
    margin-bottom: 0;
  }
  .p_work__thumb ul li {
    padding: 0 0 8%;
  }
}
@media screen and (max-width: 575px) {
  .p_work__thumb ul {
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-count: 1;
    -moz-column-gap: 0;
    column-count: 1;
    column-gap: 0;
  }
  .p_work__thumb ul li {
    padding: 12px 0;
  }
}
/*----------------------------------------------
	Masonry Thumbnails
---------------------------------------------*/
.vp-search {
  position: relative;
  padding-right: 30px;
  min-height: 35px;
  overflow: hidden;
}
.vp-search .vp-search-btn {
  position: absolute;
  width: 30px;
  height: 37px;
  background: url(../img/svg/icon_search.svg) no-repeat center #fff;
  background-size: 18px 18px;
  top: 0;
  right: 0px;
  cursor: pointer;
}
.vp-search .vp-search-btn:hover {
  opacity: 0.5;
}
.vp-search > input {
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
  width: 200px !important;
  height: 35px !important;
  position: absolute;
  right: -1000px;
  display: none !important;
}
.vp-search > input.open {
  margin-right: 0;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
  position: static;
  right: 0;
  display: block !important;
}

/*----------------------------------------------
	.p_company
---------------------------------------------*/
.p_company {
  padding: 0 20px;
}
.p_company__content {
  margin-top: 70px;
}
.p_company__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.p_company__works > div {
  width: 32%;
}
.p_company__works > div a {
  display: block;
}
.p_company__works > div img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.p_company__profile {
  margin-top: 100px;
}
.p_company__profile > img {
  position: absolute;
  right: 0;
}
.p_company__info {
  margin-top: 100px;
}
.p_company__info > img {
  width: 100%;
  margin-bottom: 100px;
}
.p_company__info > img.pc-only {
  display: block;
}
.p_company__map {
  margin-top: 80px;
}
.p_company__btn {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p_company {
    padding: 0;
  }
  .p_company__content {
    margin-top: 40px;
  }
  .p_company__works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p_company__works > div {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px;
  }
  .p_company__works > div:last-child {
    margin-bottom: 0;
  }
  .p_company__profile {
    margin-top: 50px;
  }
  .p_company__info {
    margin-top: 50px;
  }
  .p_company__info > img {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 30px;
  }
  .p_company__info > img.pc-only {
    display: none;
  }
  .p_company__map {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  .p_company__map iframe {
    height: 350px;
  }
  .p_company__btn {
    margin-top: 50px;
  }

  .p_company__works-txt {
    padding: 0 20px;
  }
}
/*----------------------------------------------
	.p_form
---------------------------------------------*/
.p_form {
  margin-top: 50px;
}
.p_form__tbl {
  width: 100%;
}
.p_form__tbl th {
  text-align: left;
  font-weight: 700;
  width: 270px;
}
.p_form__tbl th, .p_form__tbl td {
  vertical-align: top;
  padding-bottom: 45px;
}
.p_form__tbl tr:last-child th, .p_form__tbl tr:last-child td {
  padding-bottom: 0;
}
.p_form .is_red {
  color: #C11A1B;
}
.p_form input, .p_form textarea, .p_form select {
  border: 1px solid #E6E6E6;
  min-height: 40px;
  background: none;
  outline: none;
  padding: 0 10px;
}
.p_form textarea {
  padding: 10px;
}
.p_form .is_wide {
  width: 100%;
}
.p_form .is_widearea {
  width: 100%;
  height: 150px;
}
.p_form .is_smwide {
  width: calc(33.33% - 20px);
}
.p_form .is_formsubmit {
  text-align: center;
}
.p_form .is_formsubmit input[type=submit] {
  padding: 0;
  cursor: pointer;
  border: 1px solid #000000;
  margin: 5px 10px;
}
.p_form .is_backbtn {
  display: none;
}
.p_form .mw_wp_form_confirm .is_backbtn {
  display: block;
}

@media screen and (max-width: 767px) {
  .p_form .is_formsubmit {
    margin: 0 auto 40px;
  }
  .p_form .is_backbtn {
    margin-bottom: 20px;
  }
  .p_form__content {
    margin-bottom: 20px;
  }
  .p_form .is_widearea {
    height: 100px;
  }

  .p_form__tbl th, .p_form__tbl td {
    width: 100%;
    display: block;
    padding-bottom: 0;
  }
  .p_form__tbl td {
    padding-top: 5px;
  }
  .p_form__tbl tr {
    display: block;
    margin-bottom: 25px;
  }
  .p_form__tbl tr:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .p_form .is_formsubmit input[type=submit] {
    min-width: auto;
    width: calc(100% - 40px);
  }
}
/*----------------------------------------------
	Utility
---------------------------------------------*/
/*----------------------------------------------
	Margins
---------------------------------------------*/
.u_mt-0 {
  margin-top: 0 !important;
}

.u_mt-xs {
  margin-top: 1rem !important;
}

.u_mt-s {
  margin-top: 2rem !important;
}

.u_mt-m {
  margin-top: 3rem !important;
}

.u_mt-l {
  margin-top: 5rem !important;
}

.u_mt-xl {
  margin-top: 7rem !important;
}

.u_mr-0 {
  margin-right: 0 !important;
}

.u_mr-xs {
  margin-right: 1rem !important;
}

.u_mr-s {
  margin-right: 2rem !important;
}

.u_mr-m {
  margin-right: 3rem !important;
}

.u_mr-l {
  margin-right: 5rem !important;
}

.u_mr-xl {
  margin-right: 7rem !important;
}

.u_mb-0 {
  margin-bottom: 0 !important;
}

.u_mb-xs {
  margin-bottom: 1rem !important;
}

.u_mb-s {
  margin-bottom: 2rem !important;
}

.u_mb-m {
  margin-bottom: 3rem !important;
}

.u_mb-l {
  margin-bottom: 5rem !important;
}

.u_mb-xl {
  margin-bottom: 7rem !important;
}

.u_ml-0 {
  margin-left: 0 !important;
}

.u_ml-xs {
  margin-left: 1rem !important;
}

.u_ml-s {
  margin-left: 2rem !important;
}

.u_ml-m {
  margin-left: 3rem !important;
}

.u_ml-l {
  margin-left: 5rem !important;
}

.u_ml-xl {
  margin-left: 7rem !important;
}

/*----------------------------------------------
	Text Aligns
---------------------------------------------*/
.u_center {
  text-align: center;
}

.u_right {
  text-align: right;
}

.u_left {
  text-align: right;
}

/*----------------------------------------------
	.clearfix
---------------------------------------------*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/*----------------------------------------------
	.u_stretched-link
---------------------------------------------*/
.u_stretched-link {
  position: relative;
}

.u_stretched-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

/*----------------------------------------------
	.u_unused-link
---------------------------------------------*/
.u_unused-link {
  pointer-events: none;
  color: inherit;
}

/*----------------------------------------------
	Show / Hide
---------------------------------------------*/
.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
/*----------------------------------------------
	Others
---------------------------------------------*/