@charset "utf-8";

@import "foundation/variables";

.p_header {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: $sm ) {
  .p_header {
    margin: 40px 0;
    flex-direction: column;
    align-items: initial;
  }
}

/*----------------------------------------------
	Header Logo
---------------------------------------------*/
.p_header__logo {
  flex: 1;
  text-align: center;
  padding: 0 20px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  img.is_active { 
    display: none; 
    margin: 0 7%;
    max-width: calc(100% - 14%);
  }
  img.is_active.show { display: block; }
  img.is_inactive.hide { display: none; }
  a { display: block; }
}

@media screen and (max-width: $sm ) {
  .p_header__logo {
    
  }
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/
.p_header__nav {
 flex: 1;
 align-items: center;
 justify-content: center;
 display: none;
 .is_navflex {
    display: flex;
 }
 ul {
   width: auto;
  //  min-height: 230px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   li {
     padding: 10px 0;
     a {
       font-size: $fs-area-xxl;
       font-weight: $fw-serif-sembold;
       color: $color-main;
       line-height: $line-height-point-xl;
       display: block;
     }
     a:hover,
     a.current {
       opacity: 0.6;
      //  text-decoration: none;
     }
     &.current-menu-item {
       display: none;
     }
   }
   &.is_active {
     li {
        font-size: $fs-area-xxl;
        font-weight: $fw-serif-sembold;
        color: $color-main;
        line-height: $line-height-point-xl;
        display: block;
        border: 2px solid $color-main;
        width: 350px;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
   }
   &.p_header__nav-icons { display: none; }
 }
 &-list {
   padding: 0 60px;
 }
 &.open {
   display: flex;
 }
 &.is_scroll {
   overflow: hidden;
   overflow-y: scroll;
 }
}

@media screen and (max-width: $sm) { /* 575px */
  .p_header__nav {
    .is_navflex {
      flex-direction: column;
    }
    ul {
      width: auto;
      max-width: 100%;
      li {
        a {
          font-size: $fs-area-md;
        }
      }
      &.is_active {
        li {
          width: 280px;
          margin: 0 auto;
          height: 100px;
        }
      }
      &.p_header__nav-icons { 
        display: flex; 
        flex-direction: row;
        justify-content: center;
        li { margin: 20px 0 20px 8px; }
      }
    }
    &-list {
      padding: 20px;
      text-align: center;
      li {
        padding: 10px 0;
      }
    }
    &.is_scroll {
      align-items: initial;
    }
  }
}


/*----------------------------------------------
	HAMBURGER
---------------------------------------------*/

.p_header__ham {
  width: 240px;
  display: flex;
  padding-left: 40px;
  .is_calendar {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .is_toggle {
    cursor: pointer;
    color: $color-white;
    > div {
      height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    span {
      width: 30px;
      height: 4px;
      background: $color-white;
      margin: 0 auto;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }
  .is_toggle.active {
    position: relative;
    span {
      background: $color-main;
      position: absolute;
      top: 10px;
      left: 0px;
    }
    span:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
      display: none;
    }
    span:nth-child(3) { 
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

@media screen and (max-width: $sm ) {
  .p_header__ham {
    width: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

/*----------------------------------------------
	SP Header Social
---------------------------------------------*/

.p_header__icons {
  width: 240px;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    li {
      margin: 0 7px;
      a {
        display: block;
        img {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $sm ) {
  .p_header__icons {
    display: none;
  }
}

/*----------------------------------------------
	Header Inner
---------------------------------------------*/

.p_header-inner {
  .p_header__ham {
    flex: initial;
    width: 180px;
    .is_toggle {
      span {
        background: #251E1C;
      }
    }
  }
  .p_header__logo {
    justify-content: initial;
    img {  
      margin: 0 7%;
      max-width: calc(100% - 14%);  
    }
  }
}

@media screen and (max-width: $sm ) {
  .p_header-inner {
    .p_header__ham {
      flex: 1;
      width: auto;
    }
    .p_header__logo {
      justify-content: center;
    }
  }
}