@charset "utf-8";

@import "foundation/variables";


/*----------------------------------------------
	Footer Menu
---------------------------------------------*/

.p_footer {
	padding: 70px 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	li {
		font-weight: 600;
		a {
			color: $color-main;
			padding: 0 20px;
			display: block;
		}
	}
}

@media screen and (max-width: $sm) {
	.p_footer {
		padding: 40px 20px;
		li {
			a {
				padding: 0 10px;
			}
		}
	}
}