/*----------------------------------------------
	.l_wrapper
---------------------------------------------*/

.l_wrapper {
  width: $site-width;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

/*----------------------------------------------
	.l_column
---------------------------------------------*/

.l_columns {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 30px;
  padding: 0 60px;
}
.l_column {
  width: calc((100% / 3) - 33px);
  margin: 30px 0;
}
.l_column {
  text-align: center;
  position: relative;
  &:after {
    border: solid #E5E5E5;
    border-width: 0 4px 4px 0;
    content: "";
    margin-top: -10px;
    padding: 8px;
    position: absolute;
    right: -13%;
    top: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  &:last-child:after {
    display: none;
  }
}
.l_column__steps {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100%;
  min-height: 353px;
}

@media screen and (max-width: $md) {
  .l_columns {
    flex-wrap: wrap;
    margin: 40px 0;
  }
  .l_column {
    width: 100%;
    &:after {
      right: -10%;
    }
  }
}

@media screen and (max-width: $xs) {
  .l_column:after {
    right: 30px;
  }
}

/*----------------------------------------------
	.l_col-boxes
---------------------------------------------*/

.l_col-boxes {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 32px;
}

.l_col-box {
  width: calc((100% / 3) - 17px);
}

@media screen and (max-width: $md) {
  .l_col-boxes {
    flex-wrap: wrap;
    margin: 40px 0;
  }
  .l_col-box {
    width: 100%;
  }
}

/*----------------------------------------------
	.l_left-right
---------------------------------------------*/

.l_left-right {
	display: flex;
	justify-content: space-between;
}
.l_left {
  width: 632px;
  display: inline-block;
  vertical-align: top;
}
.l_right {
	width: 304px;
}

@media screen and (max-width: $md) {
  .l_left-right {
    flex-wrap: wrap;
  }
  .l_left { width: 100%; }
  .l_right { width: 100%; }
}

