/*----------------------------------------------
	Frame Header
---------------------------------------------*/

.f_site__header {
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 0;
	&.open {
		height: 100%;
		background-color: rgba($color-white, 0.9);
		display: flex;
		flex-direction: column;
		position: fixed;
	}	
}

@media screen and (max-width: $md) {

}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/

.f_site__main {
	padding-top: 180px;
}

@media screen and (max-width: $sm) {
	.f_site__main {
		padding-top: 200px;
	}
}

@media screen and (max-width: $sm) {
	.f_sec01 {
		padding: 0 20px 50px;
	}
	.f_sec02 {
		padding: 50px 0;
	}
}

/*----------------------------------------------
	Frame Footer
---------------------------------------------*/

.f_site__footer {

}

@media screen and (max-width: $md) {

}