/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: $fs-area-lg;
  font-family: $serif;
  font-weight: $fw-serif-sembold;
  line-height: $line-height-point-xl;
  color: $color-main;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.c_ttl.is_large {
  font-size: $fs-area-xl;
  line-height: $line-height-point-xxl;
}


@media screen and (max-width: $sm) {
  
}
