/*----------------------------------------------
	Frame Header
---------------------------------------------*/

.f_site__header {
	position: absolute;
	width: 100%;
	z-index: 999;
	&.open {
		height: 100%;
		background-color: rgba($color-white, 0.6);
		display: flex;
		flex-direction: column;
		position: fixed;
	}
}

@media screen and (max-width: $md) {

}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/


@media screen and (max-width: $md) {
	
}

/*----------------------------------------------
	Frame Footer
---------------------------------------------*/

.f_site__footer {

}

@media screen and (max-width: $md) {

}