/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/

.c_breadcrumb {
	padding: 0 40px 50px;
	&__li {
		display: flex;
		font-size: $fs-area-sm;
		li {
			position: relative;
			padding-right: 12px;
    	margin-right: 10px;
			&::after {
				content: '';
				width: 5px;
				height: 5px;
				position: absolute;
				border-top: 1px solid $color-main;
				border-right: 1px solid $color-main;
				transform: rotate(45deg);
				top: 50%;
				right: 0;
				margin-top: -2px;
			}
			&:last-child::after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: $sm) {
	.c_breadcrumb {
		padding: 0 20px 40px;
	}
}
