/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn {
  min-width: 290px;
  display: inline-block;  
  background-color: none;
  color: $color-dark;
  font-size: $fs-area-lg;
  text-align: center;
  line-height: $line-height-point;
  transition: all .2s;
  cursor: pointer;
  font-weight: $fw-serif-sembold;
  position: relative;
  border: 1px solid $color-main;
  padding: 5px;
}


@media screen and (max-width: $sm) {
  
}