/*----------------------------------------------
	.c_banner
---------------------------------------------*/

.c_content {
  padding: 0 40px 50px;
  &__img {
    display: block;
    &.is_center {
      margin: 20px auto;
      max-width: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: $sm) {
  .c_content {
    padding: 0 20px 40px;
  }
}
