.c_container {
  width: $site-width-md;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
p {
  margin-bottom: 20px;
}
small {
  font-size: 90%;
}
a {
  color: $color-main;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
strong { font-weight: $fw-serif-sembold; }

.img_r {
  display: block;
  float: right;
  margin: 0 0 20px 20px;
}
.is_txtc {
  text-align: center;
}