/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: $fs-area-lg;
  font-family: $serif;
  font-weight: $fw-serif-sembold;
  line-height: $line-height-point-xl;
  color: $color-main;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.c_ttl.is_large {
  font-size: $fs-area-xxl;
  line-height: $line-height-point-xxl;
  letter-spacing: $space-xxs;
}
.c_ttl.is_secondary {
  font-size: $fs-area-xl;
  text-align: left;
}

@media screen and (max-width: $sm) {
  .c_ttl.is_large {
    font-size: $fs-area-xl;
  }
  .c_ttl.is_secondary {
    font-size: $fs-area-md;
  }
}


/*----------------------------------------------
	.c_ttl-b
---------------------------------------------*/
.c_ttl-b {
  font-size: $fs-area-md;
  color: $color-white;
  background: $color-brown;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point;
  text-align: center;
  padding: 7px 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: $sm) {
  .c_ttl-b {
    margin-bottom: 15px;
  }
}