/*----------------------------------------------
	.p_company
---------------------------------------------*/

.p_company {
  padding: 0 20px;
  &__content {
    margin-top: 70px;
  }
  &__works {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    > div {
      width: 32%;
      a { display: block; }
      img {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &__profile {
    > img {
      position: absolute;
      right: 0;
    }
    margin-top: 100px;
  }
  &__info {
    margin-top: 100px;
    > img {
      width: 100%;
      margin-bottom: 100px;
    }
    > img.pc-only { display: block; }
  }
  &__map {
    margin-top: 80px;
  }
  &__btn {
    margin-top: 100px;
    text-align: center;
  }
}

@media screen and (max-width: $sm) {
  .p_company {
    padding: 0;
    &__content {
      margin-top: 40px;
    }
    &__works {
      flex-direction: column;
      > div {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__profile {
      margin-top: 50px;
    }
    &__info {
      margin-top: 50px;
      > img {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 30px;
      }
      > img.pc-only { display: none; }
    }
    &__map {
      margin-left: -20px;
      width: calc(100% + 40px);
      iframe {
        height: 350px;
      }
    }
    &__btn {
      margin-top: 50px;
    }
  } 
  .p_company__works-txt {
    padding: 0 20px;
  }
}