/*----------------------------------------------
	.p_form
---------------------------------------------*/
.p_form {
  margin-top: 50px;
  &__tbl {
    width: 100%;
    th {
      text-align: left;
      font-weight: $fw-serif-bold;
      width: 270px;
    }
    th,td {
      vertical-align: top;
      padding-bottom: 45px;
    }
    tr:last-child {
      th,td {
        padding-bottom: 0;
      }
    }
  }
  .is_red { color: $color-red; }
  input, textarea, select {
    border: 1px solid #E6E6E6;
    min-height: 40px;
    background: none;
    outline: none;
    padding: 0 10px;
  }
  textarea {
    padding: 10px;
  }
  .is_wide {
    width: 100%;
  }
  .is_widearea {
    width: 100%;
    height: 150px;
  }
  .is_smwide {
    width: calc(33.33% - 20px);      
  }
  
  .is_formsubmit {
    text-align: center;
    input[type=submit] {
      padding: 0;
      cursor: pointer;
      border: 1px solid $color-dark;
      margin: 5px 10px;
    }
  }
  .is_backbtn { display: none; }
  .mw_wp_form_confirm .is_backbtn { display: block; }
}

@media screen and (max-width: $sm) {
  .p_form {
    .is_formsubmit {
      margin: 0 auto 40px;
    }
    .is_backbtn { margin-bottom: 20px; }
    &__content {
      margin-bottom: 20px;
    }
    .is_widearea {
      height: 100px;
    }
  }
  .p_form__tbl {
    th,td {
      width: 100%;
      display: block;
      padding-bottom: 0;
    }
    td {
      padding-top: 5px;
    }
    tr {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: $xs) {
  .p_form {
    .is_formsubmit {
      input[type=submit] {
        min-width: auto;
        width: calc(100% - 40px);
      }
    }
  }
}