/*----------------------------------------------
	.p_work
---------------------------------------------*/

.p_work {
  padding: 0 40px;
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 90px;
    li {
      font-weight: 600;
      a {
        color: $color-main;
        padding: 0 20px;
        display: block;
        img { display: block; }
      }
      a:hover {
        opacity: 0.8;
      }
    }
  }
  &__thumb {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    ul {
      line-height: 0;   
      -webkit-column-count: 3;
      -webkit-column-gap:   2%;
      -moz-column-count:    3;
      -moz-column-gap:      2%;
      column-count:         3;
      column-gap:           2%;
      margin-bottom: 50px;
      li {
        width: 100% !important;
        height: auto !important;
        padding: 0 0 6%;
        -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
        a {
          display: block;
        }
        a:hover {
          opacity: 0.8;
        }
        img { 
          display: block; 
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_work {
    padding: 0 20px;
    &__menu {      
      flex-wrap: wrap;
      margin: 50px 0;
      li {
        a {
          padding: 5px 15px;
        }
        &:last-child {
          width: 100%;
          img {
            margin: 20px auto 0;
            width: 23px;
          }
        }
      }
    }
    &__thumb {
      ul {
        line-height: 0;   
        -webkit-column-count: 2;
        -webkit-column-gap:   45%;
        -moz-column-count:    2;
        -moz-column-gap:      4%;
        column-count:         2;
        column-gap:           4%;
        margin-bottom: 0;
        li {
          padding: 0 0 8%;
        }
      }
    }
  }
}


@media screen and (max-width: $xs) {
  .p_work {    
    &__thumb {
      ul {
        line-height: 0;   
        -webkit-column-count: 1;
        -webkit-column-gap:   0;
        -moz-column-count:    1;
        -moz-column-gap:      0;
        column-count:         1;
        column-gap:           0;
        li {
          padding: 12px 0;
        }
      }
    }
  }
}

/*----------------------------------------------
	Masonry Thumbnails
---------------------------------------------*/
// .vp-portfolio__layout-elements {
//   margin-bottom: 50px !important;
// }
// .vp-filter__style-minimal .vp-filter__item>* {
//   text-transform: unset !important;
// }
.vp-search {
  position: relative;
  padding-right: 30px;
  min-height: 35px;
  overflow: hidden;
  .vp-search-btn {
    position: absolute;
    width: 30px;
    height: 37px;
    background: url(../img/svg/icon_search.svg) no-repeat center #fff;
    background-size: 18px 18px;
    top: 0;
    right: 0px;
    cursor: pointer;
  }
  .vp-search-btn:hover {
    opacity: 0.5;
  }
  > input {
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
    width: 200px !important;
    height: 35px !important;
    position: absolute;
    right: -1000px;
    display: none !important;
  }
  > input.open {
    margin-right: 0;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
    position: static;
    right: 0;
    display: block !important;
  }
}