$site-width: 960px;

/* Breakpoint
------------------------------------- */
/* Mobile First */
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1400px;
// @media screen and (min-width: $sm) { }
// @media screen and (min-width: $md) { }
// @media screen and (min-width: $lg) { }

/* Desktop First */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
// @media screen and (max-width: $md) { }
// @media screen and (max-width: $sm) { }
// @media screen and (max-width: $xs) { }

/* Text Style
------------------------------------- */
/* Font Family */
$serif: 'Noto Serif JP', serif;
$sans-serif: 'Noto Sans JP', sans-serif;
// $serif: "Hiragino Mincho ProN", "游明朝", "YuMincho", "HG明朝E", Meiryo, serif;

/* Font Size for Paragraph (Area Text) */
$fs-area-xxl: 28px;
$fs-area-xl: 24px;
$fs-area-lg: 20px;
$fs-area-md: 18px;
$fs-area-base: 16px;
$fs-area-sm: 14px;
$fs-area-xs: 12px;

/* Font Weight */
$fw-serif-regular: 400;
$fw-serif-medium: 500;
$fw-serif-sembold: 600;
$fw-serif-bold: 700;

$fw-sans-serif-regular: 400;
$fw-sans-serif-bold: 700;
$fw-serif-medium: 500;
$fw-cursive-bold: 700;
$fw-font-awesome-solid: 900;
// $fw-font-awesome-brands: 400;

/* Line Height */
$line-height-topmenu: 2;  // SP menu
$line-height-area: 2;  // for Paragraph (Area Text)
$line-height-point: 1.3; // for Title and Word (Point Text)
$line-height-point-xl: 1.5; // for XL Title and Word (Point Text)
$line-height-point-xxl: 1.6; // for XXL Title

/* Color Palette
------------------------------------- */
$color-main: #251E1C;
$color-text-primary: #555555;
$color-light: #F0FAFF;
$color-white: #FFFFFF;
$color-dark: #000000;
$color-gray: #CCCCCC;
$color-darkgray: #707070;

$color-bg-primary: #f4f6f7;

@mixin color-gradient-primary ($angle: 0deg, $start-opacity: 1, $end-opacity: 1) {
  background-image: linear-gradient($angle, rgba(#2AD2FA, $start-opacity), rgba(#4C83FF, $end-opacity));
}
@mixin color-gradient-secondary ($angle: 0deg, $start-opacity: 1, $end-opacity: 1) {
  background-image: linear-gradient($angle, rgba(#FCCF31, $start-opacity), rgba(#F55555, $end-opacity));
}
@mixin color-gradient-bg ($angle: 0deg, $start-opacity: 1, $mid-opacity: 1, $end-opacity: 1) {
  background-image: linear-gradient($angle, rgba(#0045BD, $start-opacity), rgba(#4395FB, $mid-opacity), rgba(#2AD2F9, $end-opacity));
}
// How to use mixin for gradient
// @include color-gradient-primary([angle], [opacity1], [opacity2]);
// ex.) @include color-gradient-primary(130deg, 0.5, 0.1);

/* Spacing
------------------------------------- */
$space-unit: 1em;
$space-xxxs: 0.25  * $space-unit;
$space-xxs:  0.375 * $space-unit;
$space-xs:   0.5   * $space-unit;
$space-sm:   0.75  * $space-unit;
$space-md:   1.25  * $space-unit;
$space-lg:   2     * $space-unit;
$space-xl:   3.25  * $space-unit;
$space-xxl:  5.25  * $space-unit;
$space-xxxl: 8.5   * $space-unit;