/*----------------------------------------------
	Margins
---------------------------------------------*/
.u_mt-0  { margin-top: 0!important;    }
.u_mt-xs { margin-top: 1rem!important; }
.u_mt-s  { margin-top: 2rem!important; }
.u_mt-m  { margin-top: 3rem!important; }
.u_mt-l  { margin-top: 5rem!important; }
.u_mt-xl { margin-top: 7rem!important; }

.u_mr-0  { margin-right: 0!important;    }
.u_mr-xs { margin-right: 1rem!important; }
.u_mr-s  { margin-right: 2rem!important; }
.u_mr-m  { margin-right: 3rem!important; }
.u_mr-l  { margin-right: 5rem!important; }
.u_mr-xl { margin-right: 7rem!important; }

.u_mb-0  { margin-bottom: 0!important;    }
.u_mb-xs { margin-bottom: 1rem!important; }
.u_mb-s  { margin-bottom: 2rem!important; }
.u_mb-m  { margin-bottom: 3rem!important; }
.u_mb-l  { margin-bottom: 5rem!important; }
.u_mb-xl { margin-bottom: 7rem!important; }

.u_ml-0  { margin-left: 0!important;    }
.u_ml-xs { margin-left: 1rem!important; }
.u_ml-s  { margin-left: 2rem!important; }
.u_ml-m  { margin-left: 3rem!important; }
.u_ml-l  { margin-left: 5rem!important; }
.u_ml-xl { margin-left: 7rem!important; }

/*----------------------------------------------
	Text Aligns
---------------------------------------------*/
.u_center { text-align: center; }
.u_right { text-align: right; }
.u_left { text-align: right; }

/*----------------------------------------------
	.clearfix
---------------------------------------------*/
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

/*----------------------------------------------
	.u_stretched-link
---------------------------------------------*/
// リンクが含まれる親要素に".u_stretched-link"を追加する
.u_stretched-link {
  position: relative;
}
.u_stretched-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

/*----------------------------------------------
	.u_unused-link
---------------------------------------------*/
.u_unused-link {
  pointer-events: none;
  color: inherit;
}

/*----------------------------------------------
	Show / Hide
---------------------------------------------*/
.sp-only { display: none; }
@media screen and (max-width: $sm) {
  .pc-only { display: none; }
  .sp-only { display: block; }
}